@import "_mixin.scss";

/*
 * *****************************************************************************
 * クラスライブラリ
 * *****************************************************************************
 */

// ==========
// SVG 色設定
// ==========

svg {
  .color--background--fill {
    fill: $color--background;
  }

  .color--background--stroke {
    stroke: $color--background;
  }

  .color--border--fill {
    fill: $color--border;
  }

  .color--border--stroke {
    stroke: $color--border;
  }

  .color--text--fill {
    fill: $color--text;
  }

  .color--text--stroke {
    stroke: $color--text;
  }

  .color--accent--fill {
    fill: $color--accent;
  }

  .color--accent--stroke {
    stroke: $color--accent;
  }

  .color--sub--fill {
    fill: $color--sub;
  }

  .color--sub--stroke {
    stroke: $color--sub;
  }
}

// ========
// コンテナ
// ========

.container--l,
.container--s {
  width: calc(100% - 8rem);
  margin-right: auto;
  margin-left: auto;
}

.container--l {
  max-width: 64rem;
}

.container--s {
  max-width: 48rem;
}

// ======
// 非表示
// ======

// タグごと隠す
.hidden-block {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
}

// テキストを飛ばす
.hidden-text {
  display: block;
  height: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// ========
// clearfix
// ========

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

// ==============
// デバイス別表示
// ==============

// SP
@media (max-width: 768px) {
  .is-sp {
    display: block !important;
  }

  .is-pc {
    display: none !important;
  }
}

// PC
@media (min-width: 769px) {
  .is-sp {
    display: none !important;
  }

  .is-pc {
    display: block !important;
  }
}
