@charset 'UTF-8';

// =============================================================================
// 変数
// =============================================================================

// [色]
// 色指定はWordPressテーマカスタマイザーの指定により上書きされています。
// 「WordPress管理＞外観＞カスタマイズ＞色」にある動的CSS出力設定を無効化するとこちらのSCSS指定が反映されます。

$color-accent: #2dcec9;  // アクセントカラー
$color-sub: #6a7375;     // サブカラー
$color-background: #fff; // 背景
$color-border: #ddd;     // ボーダー
$color-text: #444;       // 文字

// [イージング]

$easing: cubic-bezier(.54, .05, .36, .98);

// =============================================================================
// mixin
// =============================================================================

// ==========
// レイアウト
// ==========

// コンテナ
@mixin container {
  width: 90%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

// clearfix
@mixin clearfix {

  &::after {
    content: '';
    display: block;
    clear: both;
  }

}

// 画像置換
@mixin text-hide {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// ========
// アイコン
// ========

@mixin icon-sns-google-plus($color: 000) {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20300%20300%22%20width%3D%22300%22%20height%3D%22300%22%3E%3Cpath%20fill%3D%22%23#{$color}%22%20d%3D%22M224.097%2C198.114h12.021c3.224%2C0%2C5.828-2.594%2C5.828-5.828v-42.225h42.205c3.215%2C0%2C5.849-2.61%2C5.849-5.829%20l-0.02-12.038c0-3.213-2.631-5.848-5.849-5.848h-42.205v-42.2c0-3.224-2.595-5.833-5.829-5.833h-12.021%20c-3.229%2C0-5.844%2C2.594-5.844%2C5.833v42.2h-42.226c-3.198%2C0-5.827%2C2.635-5.827%2C5.848v12.038c0%2C3.219%2C2.629%2C5.829%2C5.827%2C5.829h42.241%20v42.225C218.248%2C195.51%2C220.867%2C198.114%2C224.097%2C198.114z%22%2F%3E%3Cpath%20fill%3D%22%23#{$color}%22%20d%3D%22M14.463%2C207.364C11.508%2C213.67%2C10%2C220.042%2C10%2C226.322c0%2C6.066%2C1.559%2C11.936%2C4.651%2C17.47%20c7.113%2C12.769%2C22.435%2C22.684%2C43.124%2C27.883c10.692%2C2.695%2C22.167%2C4.087%2C34.087%2C4.087c10.723%2C0%2C20.917-1.406%2C30.375-4.118%20c29.436-8.554%2C48.475-30.228%2C48.48-55.201c0-24.024-7.723-38.393-28.426-53.039c-8.87-6.285-16.927-15.49-17.1-18.333%20c0-5.194%2C0.473-7.636%2C12.038-16.647c14.972-11.738%2C23.207-27.121%2C23.207-43.408c0-14.753-4.492-27.857-12.189-37.057h5.924%20c1.229%2C0%2C2.438-0.391%2C3.442-1.112l16.597-12.018c2.061-1.487%2C2.96-4.117%2C2.153-6.544c-0.787-2.406-3.011-4.046-5.545-4.046H96.553%20c-8.149%2C0-16.383%2C1.432-24.491%2C4.234c-27.076%2C9.327-45.998%2C32.371-45.998%2C56.061c0%2C33.533%2C26.009%2C58.969%2C60.721%2C59.771%20c-0.655%2C2.66-0.996%2C5.25-0.996%2C7.844c0%2C5.153%2C1.315%2C10.063%2C4.011%2C14.805c-0.324%2C0-0.639%2C0-0.975%2C0%20C55.708%2C166.962%2C25.831%2C183.193%2C14.463%2C207.364z%20M64.395%2C83.619c-1.609-12.281%2C0.939-23.298%2C7.072-30.3%20c3.95-4.513%2C9.128-6.884%2C14.952-6.884h0.64c16.424%2C0.473%2C32.122%2C18.775%2C35.021%2C40.799c1.615%2C12.322-1.091%2C23.923-7.316%2C30.959%20c-3.95%2C4.518-9.047%2C6.904-15.109%2C6.904h-0.259C83.317%2C124.6%2C67.274%2C105.607%2C64.395%2C83.619z%20M95.938%2C185.544h0.696%20c5.499%2C0.071%2C10.87%2C0.884%2C15.932%2C2.447c1.721%2C1.188%2C3.392%2C2.33%2C5.011%2C3.416c11.698%2C7.967%2C19.455%2C13.246%2C21.618%2C21.729%20c0.487%2C2.107%2C0.731%2C4.229%2C0.731%2C6.301c0%2C21.766-16.236%2C32.782-48.201%2C32.782c-24.263%2C0-43.245-14.891-43.245-33.874%20C48.479%2C200.877%2C70.655%2C185.544%2C95.938%2C185.544z%22%2F%3E%3C%2Fsvg%3E);
}

@mixin icon-sns-facebook($color: 000) {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20300%20300%22%20width%3D%22300%22%20height%3D%22300%22%3E%3Cpath%20fill%3D%22%23#{$color}%22%20d%3D%22M170.738%2C290c0%2C0%2C0-77.228%2C0-139.911h39.229l5.103-49.386h-44.31V71.597%20c0-10.905%2C7.224-13.438%2C12.319-13.438c5.078%2C0%2C31.259%2C0%2C31.259%2C0v-47.98L171.287%2C10c-47.823%2C0-58.698%2C35.755-58.698%2C58.672v32.015%20H84.931v49.402h27.658c0%2C63.471%2C0%2C139.911%2C0%2C139.911H170.738z%22%2F%3E%3C%2Fsvg%3E);
}

@mixin icon-sns-twitter($color: 000) {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20300%20300%22%20width%3D%22300%22%20height%3D%22300%22%3E%3Cpath%20fill%3D%22%23#{$color}%22%20d%3D%22M290%2C63.137c-10.301%2C4.574-21.375%2C7.668-33.006%2C9.042c11.866-7.101%2C20.952-18.349%2C25.276-31.777%20c-11.099%2C6.582-23.394%2C11.377-36.48%2C13.942c-10.483-11.156-25.411-18.137-41.934-18.137c-31.724%2C0-57.447%2C25.723-57.447%2C57.442%20c0%2C4.497%2C0.523%2C8.893%2C1.489%2C13.092c-47.757-2.378-90.069-25.271-118.421-60.022c-4.943%2C8.48-7.778%2C18.358-7.778%2C28.884%20c0%2C19.943%2C10.133%2C37.504%2C25.555%2C47.824c-9.421-0.303-18.281-2.873-26.016-7.197c-0.015%2C0.254-0.015%2C0.504-0.015%2C0.745%20c0%2C27.808%2C19.799%2C51.063%2C46.089%2C56.318c-4.813%2C1.34-9.888%2C2.021-15.134%2C2.021c-3.704%2C0-7.303-0.336-10.806-1.031%20c7.313%2C22.82%2C28.524%2C39.443%2C53.652%2C39.904c-19.65%2C15.404-44.418%2C24.59-71.342%2C24.59c-4.627%2C0-9.201-0.27-13.684-0.787%20c25.421%2C16.287%2C55.622%2C25.799%2C88.062%2C25.799c105.665%2C0%2C163.453-87.531%2C163.453-163.458c0-2.493-0.048-4.973-0.178-7.428%20C272.565%2C84.811%2C282.313%2C74.692%2C290%2C63.137z%22%2F%3E%3C%2Fsvg%3E);
}
