@import '_mixin.scss';

/*
 * *****************************************************************************
 * WordPress
 * *****************************************************************************
 */

.wp-block-embed {
  overflow-x: hidden;
}

.wp-embedded-content {
  max-width: 100%;
}

// Google AdSense
.ad-container {
  margin-bottom: 4rem;
}
